<img src="{{ name }}-original.{{ ext }}" alt="{{ caption }}"
     srcset="{{ name }}-small.{{ ext }} 800w,
             {{ name }}-medium.{{ ext }} 1600w,
             {{ name }}-large.{{ ext }} 2200w" />
