<ul class="nav">
{%- for item in nav -%}
    {# We have to treat Home differently becauase every url contains `/`. #}
    {%- if item.name == 'Home' %}
        {%- if item.url != page.url %}
    <li class="nav__item"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {%- else %}
    <li class="nav__item nav__item--current"><span>{{ item.name }}</span></li>
        {%- endif %}
    {%- else %}
    <li class="nav__item {% if item.url in page.url %}nav__item--current{% endif %}">
        {%- if item.url != page.url -%}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {%- else -%}
        <span>{{ item.name }}</span>
        {%- endif -%}
    </li>
    {%- endif %}
{%- endfor %}
</ul>
