<ul class="nav">
{%- for item in nav -%}
    {# We have to treat Home differently because every url contains `/`. #}
    {%- if item.name == 'Home' %}
        {%- if item.url != page.url %}
    <li class="nav__item"><a href="{{ item.url }}">{{ item.name }}</a></li>
        {%- else %}
    <li class="nav__item nav__item--current">
        <span>{{ item.name }}</span>
        <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg></button>
    </li>
        {%- endif %}
    {%- else %}
    <li class="nav__item {% if item.url in page.url %}nav__item--current{% endif %}">
        {%- if item.url != page.url -%}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {%- else -%}
        <span>{{ item.name }}</span>
        {%- endif -%}
        {% if item.url in page.url %}
        <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg></button>
        {%- endif -%}
    </li>
    {%- endif %}
{%- endfor %}
</ul>
