<ul class="social">
{%- for item in social -%}
    <li><a href="{{ item.url }}">{%- include components/icon id: item.id title: item.name %}</a></li>
{%- endfor -%}
    <li>
        <a href="https://mltshp.com/user/trey">
            {%- include icons/mltshp.svg -%}
        </a>
    </li>
</ul>
