<div class="tag-list">
{% if tags.length > 1 %}
    Tag{% if tags.length > 2 %}s{% endif %}:
    {% for tag in tags %}
        {%- if tag != section -%}
            {% set tagUrl %}/{{ section }}/tag/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {%- endif -%}
    {% endfor %}
{% endif %}
</div>
