img {
    height: auto;
    max-width: 100%;
}

figure {
    margin-left: 0;
    margin-right: 0;

    figcaption {
        color: $text-color-subtle;
        font-size: 0.8em;
        font-style: italic;
    }
}
