.social {
    list-style: none;
    margin: 0;
    margin-top: 4rem;
    padding: 0;

    li {
        margin-right: 2rem;
        margin-bottom: 1rem;

        &,
        a { display: inline-block; }
    }

    svg { fill: $link-color; }

    a:hover {
        background: none;

        svg { fill: $gold; }
    }
}
