body {
    background: $body-color;
    padding: 0.5rem 1rem;
}

footer {
    margin-top: 5rem;

    p { max-width: 100%; }
}

.wrapper {
    max-width: 68ch;
    padding: 0 2ch;
    margin: 2rem auto 6rem;
}

hr {
    margin: 4rem 0;
    border: 0;
    height: 0.6rem;
    background: #333;
}

.tag-list {
    font-size: 1rem;
    margin-bottom: 4rem;
}

.post-date {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footnotes-sep {
    margin: 5rem 0 2rem;
    border: none;
    border: {
        color: rgba(0, 0, 0, 0.5);
        top-width: 0.3rem;
        top-style: solid;
    }
}
