<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {{ renderData.title or title or metadata.title }}
        {%- if section == 'words' and not sectionBase %} / Trey’s Thoughts{% endif %}
        {%- if section == 'solutions' and not sectionBase %} / Solutions Log{% endif %}
        {%- if page.url != '/' %} / {% endif %}Trey Piepmeier
    </title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- if section == 'words' or section == 'solutions' %}
    <link rel="alternate" type="application/atom+xml" href="/feeds/{{ section }}.xml" />
    {%- else %}
    <link rel="alternate" type="application/atom+xml" href="/feeds/words.xml" />
    <link rel="alternate" type="application/atom+xml" href="/feeds/solutions.xml" />
    {%- endif %}
    <link rel="stylesheet" href="/css/main.css" />
</head>
<!--
                 ..::::..          ..,;;,,.
               ::::::::::::.    .::t$$$$$$$$bu:,.                .zn$$$$k
              ::::d$$$$bi::::.,::::$$$$$$$$$$$$i::.            ur:d$$$$$$F
             ::::$$$$$$$$$L::::::::3$$$$$'zec`$$$d$,           ?$,"bd$$$$.
             `:::3$$$$$$$$$;::::::::?$$$$ `"$$`$$$$?,           4='$b'ue$"
              ::::$$$$$$$$$$:::::uee$$$$$L. `?:$$$$`?k           4$bedP"
               ::::$$$$$"""?:::z$$$$$$$$$$$$bu$$P""-.?,      zMMbu'""
                `:::"'.;::::::d$$$$$$$$$C73$$$$$$;    `b ,MUMMMMMMMM
                  ueeeeec,"i."$$$$$$$$$$$ `?$$$$$$;,.,d$F;MMMMMMMMF
              ,eMMMMMMMMMMMc`!;"$$$$$$$$$.   "?$$$$$$$$F,MMMMMMMP"
          ,eM6"TMMMMMMMMMMMMb`!i;"$$$$$$$$ %,   .ueeP',dMMMMMM"
        zMMMMMMc'MMMMP,c,_??Mk`!!;.?$$$$F$$buued$$F,dM?MMMMM"
       MMMMMMMMMP"MM"d$$(?$b'ML`!!!;`?$$$bCCCdP"; MMM'dMMP"
        TMMMMMF,d"ze$$$$?be ;MML`!!!!;`?$$P",;!!'dMM"P"
         ."?PP,$'$$$$$$$LF";MMMMb`!!!!!i;,,;i!!'dMMF
        <!!!!';;;`???)dF";MMMMMMMMc`<!!!!!!>',dMMMF
     .<!!!!',i!!!!!!> +dMMMMMMMMMMMMMeeeeedMMMMMM"
   :!!!!!!  `!!!!!'''` c,"TMMMMMMMMMMMMMMMMMMPF"
 :!!!!!!'     `!'udNu`>."$br`TMMMMMMMMPP""",
 !!!!!!         :MMMMb`!!;,'     ;""ii!>;i!
'!!!!'          4MMMMM,<!!!!;,..;   `';i!!
'!!'         :> JMMMMMM`!!!!!!>'     i!!'
 !         :!! 4MMMMMMMh..zeee'    i!!'
          :!!!:`MMMMMMP:MMMM"
          !!!!! `TMMP,dMMP"
          `'''  `?bdMMP"
            ;!!!;.'"
          ;!!!!!!'
          ''!!'`
-->
<body {%- if bodyClass %} class="{{ bodyClass }}"{%- endif -%}>
    <nav>
        {% include 'components/main-nav.njk' %}
    </nav>
    <div class="wrapper">{{ content | safe }}</div>

    <footer>
        <p>Copyright &copy; 2006&ndash;2019 Arthur Piepmeier III. All rights reserved.</p>
    </footer>

    {% include 'components/tracking.njk' %}
</body>
</html>
