<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {{ renderData.title or title or metadata.title }}
        {% if section == 'words' %} / Trey’s Thoughts{% endif %}
        {% if section == 'solutions' %} / Solutions Log{% endif %}
    </title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
          listClass: "nav",
          listItemClass: "nav-item",
          activeListItemClass: "nav-item-active",
          activeKey: eleventyNavigation.key
        }) | safe }}
    </nav>
    <div class="wrapper">{{ content | safe }}</div>

    <footer>
        <p>Copyright &copy; 2006&ndash;2019 Arthur Piepmeier III. All rights reserved.</p>
        <p><a href="https://github.com/trey/treypiepmeier">View source</a></p>
    </footer>
</body>
</html>
