<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {{ renderData.title or title or metadata.title }}
        {%- if section == 'words' and not sectionBase %} / Trey’s Thoughts{% endif %}
        {%- if section == 'solutions' and not sectionBase %} / Solutions Log{% endif %}
        {%- if page.url != '/' %} / {% endif %}Trey Piepmeier
    </title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {%- if section == 'words' or section == 'solutions' %}
    <link rel="alternate" type="application/atom+xml" href="/feeds/{{ section }}.xml" />
    {%- else %}
    <link rel="alternate" type="application/atom+xml" href="/feeds/words.xml" />
    <link rel="alternate" type="application/atom+xml" href="/feeds/solutions.xml" />
    {%- endif %}
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <nav>
        {% include 'components/main-nav.njk' %}
    </nav>
    <div class="wrapper">{{ content | safe }}</div>

    <footer>
        <p>Copyright &copy; 2006&ndash;2019 Arthur Piepmeier III. All rights reserved.</p>
        <p><a href="https://github.com/trey/treypiepmeier">View source</a></p>
    </footer>
</body>
</html>
