---
layout: layouts/base.njk
permalink: "solutions/{{ page.date | date: '%Y/%m' }}/{{ page.fileSlug }}/"
description: Trey writes down the answers to problems he solves for his future self and for you.
section: solutions
---

<h1>{{ title }}</h1>

<p><i>{{ page.date | fullDate }}</i></p>

{% include 'components/tag-list.njk' %}

<div class="solutions">
{{ content | safe }}
</div>

{% set collection = collections.solutions %}
{% include 'components/post-nav.njk' %}
