---
layout: layouts/base.njk
permalink: "solutions/{{ page.date | date: '%Y/%m' }}/{{ page.fileSlug }}/"
description: Trey writes down the answers to problems he solves for his future self and for you.
section: solutions
---

<h1>{{ title | widont | safe }}</h1>

{% include 'components/post-date.njk' %}

{% include 'components/tag-list.njk' %}

<div>
{{ content | safe }}
</div>

{% set collection = collections.solutions %}
{% include 'components/post-nav.njk' %}
