---
layout: layouts/base.njk
permalink: "solutions/{{ page.date | date: '%Y/%m' }}/{{ title | slug }}/"
section: solutions
---

<h1>{{ title }}</h1>

<p><i>{{ page.date | fullDate }}</i></p>

<div class="solutions">
{{ content | safe }}
</div>

{% set collection = collections.solutions %}
{% include 'components/post-nav.njk' %}
