---
layout: layouts/base.njk
permalink: "words/{{ page.date | date: '%Y/%m' }}/{{ title | slug }}/"
section: words
---

<h1>{{ fullTitle or title }}</h1>

<p><i>{{ page.date | fullDate }}</i></p>

<div class="blog">
{{ content | safe }}
</div>

{% set collection = collections.words %}
{% include 'components/post-nav.njk' %}
