---
layout: layouts/base.njk
permalink: "words/{{ page.date | date: '%Y/%m' }}/{{ page.fileSlug }}/"
description: This is Trey Piepmeier’s blog. He writes about photography and web development and music and being outside.
section: words
---

<h1>{{ title }}</h1>

<p><i>{{ page.date | fullDate }}</i></p>

{% include 'components/tag-list.njk' %}

<div class="blog">
{{ content | safe }}
</div>

{% set collection = collections.words %}
{% include 'components/post-nav.njk' %}
