body {
    // Big text by default
    font-size: 1.2rem;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: -1px 1px 3px black;
    color: $text-color;
}

a {
    color: $link-color;

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover { color: $link-color-hover; }
}

blockquote {
    border-left: 0.3rem solid rgba(255, 255, 255, 0.2);
    margin: 0;
    padding-left: 1rem;

    cite::before {
        content: '—';
        margin-left: 0;
        margin-right: 0.3em;
    }
}

code {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.1rem;
}

pre code { font-size: 0.8em; }

footer {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}
