---
pagination:
  data: links
  size: 1
  alias: link
  addAllPagesToCollections: true
layout: layouts/links
tags: links
permalink: '/links/{{ link.time | shortDateISO }}_{{ link.description | slug }}/'
templateEngineOverride: md, njk
eleventyComputed:
  title: '{{ link.description }}'
  date: '{{ link.time }}'
  href: '{{ link.href }}'
---

{{ link.extended }}
