---
layout: layouts/base
title: Links
sectionBase: true
---

<h1>{{ title }}</h1>

<ul>
{% for link in collections.links %}
    <li><a href="{{ link.url }}">{{ link.data.title }}</a></li>
{% endfor %}
</ul>
