---
layout: layouts/base
title: Links
section: links
sectionBase: true
bodyClass: posts
---

<h1>{{ title }}</h1>

<ul class="posts">
{% for link in collections.links %}
    <li class="post">
        <div class="post__url">
            <a href="{{ link.url | url }}" class="postlist-link">{% if link.data.title %}{{ link.data.title }}{% else %}<code>{{ link.url }}</code>{% endif %}</a>
            <a title="Direct link to “{{ link.data.title }}”" href="{{ link.data.href | url }}">&star;</a>
        </div>
        <div class="post__date">{{ link.data.postDate | midDateISO }}</div>
    </li>
{% endfor %}
</ul>

<hr />

<p><i><a href="/words/2021/06/link-blog/">Read about this section.</a></i></p>
