---
layout: layouts/base.njk
title: Solutions Log
section: solutions
sectionBase: true
eleventyNavigation:
  key: Solutions
  order: 3
---

<h1>Solutions Log</h1>

{% set postslist = collections.solutions %}

{% include 'posts-list.njk' %}
