---
layout: layouts/base.njk
title: Solutions Log
description: Trey writes down the answers to problems he solves for his future self and for you.
section: solutions
sectionBase: true
eleventyNavigation:
  key: Solutions
  order: 3
---

<h1>Solutions Log</h1>

{% set postslist = collections.solutions %}
{% include 'components/posts-list.njk' %}
