---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
renderData:
  title: Trey’s Thoughts Tagged “{{ tag }}”
permalink: /words/tag/{{ tag }}/
---
<h1>Trey’s Thoughts Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] %}

{% include "postslist.njk" %}

<p><a href="/words/">All posts</a></p>
