---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - words
    - solutions
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
section: words
renderData:
  title: Trey’s Thoughts Tagged “{{ tag }}”
permalink: /words/tag/{{ tag }}/
bodyClass: posts
---

<h1>{{ renderData.title }}</h1>

{% set postslist = collections[tag] %}

{% include 'components/posts-list.njk' %}

<p class="all"><a href="/words/">All posts</a></p>
