---
layout: layouts/base.njk
title: Trey’s Thoughts
description: This is Trey Piepmeier’s blog. He writes about photography and web development and music and being outside.
section: words
sectionBase: true
---

<h1>Trey’s Thoughts</h1>

{% set postslist = collections.words %}
{% include 'components/posts-list.njk' %}
